@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('./assets/Justice-League-Reading-Order.jpg');
    background-size: cover;
    background-position: center;
}